<div class="d-flex align-items-center justify-content-center bg-light px-3">
  <div class="card w-100" style="max-width: 30rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
      <h2 class="text-center fs-4 fw-bold text-dark mb-2">Crear una cuenta</h2>
      <p class="text-center text-muted mb-4">Únete a OlwReview para Revisiones Sistemáticas de Literatura</p>
      <form (ngSubmit)="handleEmailSignup()" #signupForm="ngForm">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre completo</label>
          <input type="text" id="name" name="name" [(ngModel)]="name" required #nameInput="ngModel" class="form-control"
            [ngClass]="{'is-invalid': nameInput.invalid && (nameInput.dirty || nameInput.touched)}"
            placeholder="John Doe">
          <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="invalid-feedback">
            El nombre completo es obligatorio.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required email #emailInput="ngModel"
            class="form-control"
            [ngClass]="{'is-invalid': emailInput.invalid && (emailInput.dirty || emailInput.touched)}"
            placeholder="you@example.com">
          <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="invalid-feedback">
            Por favor, ingrese una dirección de correo electrónico válida.
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <div class="position-relative">
            <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password"
              required minlength="8" #passwordInput="ngModel" class="form-control"
              [ngClass]="{'is-invalid': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)}"
              (input)="checkPasswordPolicy()" />
            <button type="button" (click)="togglePasswordVisibility()"
              class="position-absolute top-50 end-0 translate-middle-y border-0 bg-transparent"
              aria-label="Toggle password visibility">
              <i [class]="'bi ' + (showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill') + ' fs-2'"
                class="text-muted"></i>
            </button>
          </div>

          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="invalid-feedback">
            La contraseña debe tener al menos 8 caracteres.
          </div>

          <!-- Botón que muestra/oculta el menú desplegable (políticas de contraseña) -->
          <button class="btn btn-link mt-2 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#policyCollapse"
            aria-expanded="false" aria-controls="policyCollapse">
            Ver políticas de contraseña
          </button>

          <!-- Menú desplegable con la lista de políticas -->
          <div class="collapse mt-2" id="policyCollapse">
            <ul class="list-group">
              <li class="list-group-item d-flex align-items-center"
                [ngClass]="policyChecks.minLength ? 'text-success' : 'text-danger'">
                <i class="bi" [ngClass]="policyChecks.minLength ? 'bi-check-circle-fill me-2' : 'bi-x-circle me-2'"></i>
                Al menos 8 caracteres
              </li>
              <li class="list-group-item d-flex align-items-center"
                [ngClass]="policyChecks.uppercase ? 'text-success' : 'text-danger'">
                <i class="bi" [ngClass]="policyChecks.uppercase ? 'bi-check-circle-fill me-2' : 'bi-x-circle me-2'"></i>
                Contiene al menos una mayúscula
              </li>
              <li class="list-group-item d-flex align-items-center"
                [ngClass]="policyChecks.number ? 'text-success' : 'text-danger'">
                <i class="bi" [ngClass]="policyChecks.number ? 'bi-check-circle-fill me-2' : 'bi-x-circle me-2'"></i>
                Contiene al menos un número
              </li>
              <li class="list-group-item d-flex align-items-center"
                [ngClass]="policyChecks.specialChar ? 'text-success' : 'text-danger'">
                <i class="bi"
                  [ngClass]="policyChecks.specialChar ? 'bi-check-circle-fill me-2' : 'bi-x-circle me-2'"></i>
                Contiene al menos un caracter especial (&#64;, #, $, etc.)
              </li>
            </ul>
          </div>
        </div>
        <button type="submit" [disabled]="signupForm.form.invalid" class="w-100 btn btn-primary py-2 rounded-3">
          Crear cuenta
        </button>
      </form>
      <div class="px-4 py-3 bg-light border-top">
        <p class="text-center text-muted small">
          ¿Ya tienes una cuenta?
          <a routerLink="/log-in" class="text-primary">
            Iniciar sesión
          </a>
        </p>
      </div>
    </div>
  </div>
</div>