
<div class="d-flex align-items-center justify-content-center bg-light">
  <div class="card w-100" style="max-width: 30rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
      <h2 class="text-center fs-4 fw-bold text-dark">Iniciar sesión en OlwReview</h2>
      <p class="text-center text-muted">Accede a tu espacio de trabajo de Revisión Sistemática de Literatura</p>
      <form (ngSubmit)="handleEmailLogin()" #loginForm="ngForm">
        <div class="mb-4">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required email #emailInput="ngModel"
            class="form-control"
            [ngClass]="{'is-invalid': emailInput.invalid && (emailInput.dirty || emailInput.touched)}"
            placeholder="you@example.com">
          <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="invalid-feedback">
            Por favor, ingresa una dirección de correo electrónico válida.
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <div class="position-relative">
            <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password"
              required #passwordInput="ngModel" class="form-control"
              [ngClass]="{'is-invalid': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)}">
            <button type="button" (click)="togglePasswordVisibility()"
              class="position-absolute top-50 end-0 translate-middle-y border-0 bg-transparent"
              aria-label="Toggle password visibility">
              <i [class]="'bi ' + (showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill')  + ' fs-2'"
                class="text-muted"></i>
            </button>
          </div>
          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="invalid-feedback">
            Se requiere contraseña.
          </div>
          <br>
          <a routerLink="/forgot-password">Olvidé mi contraseña</a>
        </div>
        <button type="submit" [disabled]="loginForm.form.invalid" class="btn btn-primary w-100">
          Iniciar sesión
        </button>
      </form>
    </div>
    <div class="card-footer text-center bg-light">
      <p class="text-muted small">
        ¿No tienes una cuenta? <a href="/sign-up" class="text-primary">Regístrate</a>
      </p>
    </div>
  </div>
</div>