.panel-container {
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  left: 50px;
  top: 50px;
}

.node {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.horizontal-node {
  background-color: #d1ecf1;
}

.vertical-node {
  background-color: #f8d7da;
  display: flex;
  flex-direction: column;
}

.additional-vertical {
  /* Estilos adicionales si es necesario para el nodo vertical extra */
  margin-top: 20px;
}

.editable {
  outline: none;
}

.no-edit {
  user-select: none;
  pointer-events: none;
}

.connection-svg {
  top: 0;
  left: 0;
  z-index: -1;
}

.locked {
  pointer-events: none;
}


@media (min-height: 992px) {
  #cy {
    height: 500px !important;
  }
}

/* Ancho para pantallas medianas y menores */
@media (max-height: 991.98px) {
  #cy {
    height: 420px !important;
  }
}
.floating-menu {
  width: 200px;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.menu-item.active {
  background-color: #f8f9fa;
  border-color: #007bff;
  font-weight: bold;
}

.menu-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 576px) {
  .floating-menu {
    width: 100%;
  }
}
 
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 8px;
  background-color: white;
}
 
.input-icon {
  font-size: 1.2rem;
  color: #6c757d; 
  margin-right: 10px;  
}
 
.input-field {
  border: none;
  outline: none;
  flex: 1;  
  background-color: transparent;
} 
.input-field:focus {
  box-shadow: none;
}

textarea.autosize {
  overflow: hidden;
  resize: none;
}


.textarea-container {
  position: relative;
}

.floating-copy-btn {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 10;

  /* Estilo transparente */
  background-color: transparent;
  border: none;
  color: #000;      /* Escoge el color del texto */
  font-size: 0.875rem; /* Tamaño de fuente, por ejemplo 14px */

  /* Opcional: Cambiar cursor y quitar subrayados */
  cursor: pointer;
  text-decoration: none;

  /* Transición suave al pasar el cursor */
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Cuando pasas el cursor por encima del botón */
.floating-copy-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); /* leve oscurecimiento */
  border: 1px solid rgba(0,0,0,0.1);
}