<app-navbar></app-navbar>


<main>
  <div>
    <div class="container py-4">
      <div class="row align-items-start">
        <div class="col col-sm col-md-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/panel_principal">{{ userData?.nombre_usuario || 'Usuario' }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tema_reseña</li>
            </ol>
          </nav>

          <div class="d-flex">
            <div class="floating-menu">
              <div class="menu-item active" routerLink="/detalle_revision">Descripción General</div>
              <div class="menu-item " routerLink="/planificacion">Planificación</div>
              <div class="menu-item " routerLink="/estudios">Revisión de datos</div>
              <div class="menu-item ">Proyección de informes</div>
            </div>
          </div>
          <br />
        </div>

        <div class="col col-sm col-md-9">
          <!-- Tarjeta Principal -->
          <div class="card" style="flex-grow: 1;">
            <div class="card-header">
              <h2 class="card-title mb-0">
                <i class="fa-solid fa-pencil"></i>&nbsp; Editar reseña
              </h2>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <!-- Campo Título -->
                <div class="mb-3">
                  <label for="title" class="form-label">Título de la reseña</label>
                  <input type="text" class="form-control" id="title" formControlName="titulo_revision"
                    placeholder="Escribe el título de la reseña" [(ngModel)]="reviewData.titulo_revision"
                    name="titulo_revision" (ngModelChange)="onFieldChange()" />
                </div>

                <!-- Campo Selección de Metodología -->
                <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupSelect01">Metodología de reseña</label>
                  <select class="form-select" id="inputGroupSelect01" [(ngModel)]="reviewData.tipo_revision"
                    name="tipo_revision" formControlName="tipo_revision" (ngModelChange)="onFieldChange()">
                    <option value="Revisión Sistemática">Revisión Sistemática</option>
                    <option value="Meta-análisis">Meta-análisis</option>
                    <option value="Revisión de Alcance">Revisión de Alcance</option>
                  </select>
                </div>

                <!-- Campo Descripción -->
                <div class="mb-3">
                  <label for="description" class="form-label">Descripción de la reseña</label>
                  <textarea class="form-control" id="description" rows="5" formControlName="descripcion"
                    placeholder="Ingrese una descripción detallada de la reseña" [(ngModel)]="reviewData.descripcion"
                    name="descripcion" (ngModelChange)="onFieldChange()"></textarea>
                </div>
              </form>
            </div>
            <div class="card-footer text-end">
              <button [routerLink]="isModified ? null : '/planificacion'" class="btn btn-primary" type="submit"
                (click)="isModified ? updateReview() : navigateToNext()">
                <i class="fa-solid" [ngClass]="isModified ? 'fa-save' : 'fa-paper-plane'"></i> &nbsp;
                {{ isModified ? 'Actualizar' : 'Siguiente' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="bg-white shadow-sm mt-4">
  <div class="container py-4">
    <p class="text-center text-muted small">
      © 2024 OWLREVIEW. Todos los derechos reservados.
    </p>
  </div>
</footer>