<app-navbar></app-navbar>


<div class="d-flex">
  <div class="container mt-5">
    <!-- Card for user information -->
    <div class="card shadow-sm p-4" style="background-color: #b3b5b8;">
      <div class="row">
        <!-- Left side for user image -->
        <div class="col-md-3 d-flex justify-content-center align-items-center">
          <div class="card mb-4">
            <ul class="list-group list-group-flush">
              <li>
                <div class="d-flex justify-content-center align-items-center" style="height: 200px; width: 200px; background-color: #e9ecef; border-radius: 5px;">
                  <div class="text-center">
                    <i *ngIf="!imageUrl" class="bi bi-person" style="font-size: 160px; color: #6c757d;"></i>
                    <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen de perfil" style="height: 160px; width: 160px; border-radius: 50%; object-fit: cover;" />
                    <div class="mt-2">
                      <input type="file" (change)="onFileSelected($event)" id="imageUpload" style="display: none;" />
                      <label for="imageUpload" class="btn btn-primary btn-sm rounded-circle" style="position: absolute; bottom: 0; right: 0;">
                        <i class="bi bi-upload"></i>
                      </label>
                      <button *ngIf="imageFile" class="btn btn-success btn-sm rounded-circle mt-2" (click)="uploadImage(imageFile)">Subir</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Right side for user details form -->
        <div class="col-md-9">

          <h4 class="mb-4">Información del Usuario</h4>
          

          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row g-3 mb-4">
              <div class="col-12">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" formControlName="nombre_usuario" [disabled]="true">
              </div>
              <div class="col-sm-6">
                <label for="first-name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="first-name" formControlName="nombre">
              </div>
              <div class="col-sm-6">
                <label for="last-name" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="last-name" formControlName="apellido">
              </div>
              <div class="col-12">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" formControlName="correo_electronico">
              </div>
              <div class="col-12">
                <label for="institution" class="form-label">Institución</label>
                <input type="text" class="form-control" id="institution" formControlName="institucion">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-white shadow-sm mt-4">
  <div class="container py-4">
    <p class="text-center text-muted small">
      © 2024 OWLREVIEW. Todos los derechos reservados.
    </p>
  </div>
</footer>