<app-navbar></app-navbar>


<main>
    <div>
        <div class="container py-4">
            <div class="row align-items-start">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <div class="row">
                                <div class="col-4">
                                    <li class="breadcrumb-item"><a href="/panel_principal">{{ userData?.nombre_usuario || 'Usuario' }}</a>
                                    </li>
                                  </div>
                                  <div class="col-1">
                                    <p><strong>/</strong></p>
                                  </div>
                                  <div class="col-7">
                                    <li class="breadcrumb-item active" aria-current="page">{{reviewData.titulo_revision}}</li>
                                  </div>
                            </div>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm col-md-3">
                    <div class="d-flex">
                        <div class="floating-menu">
                            <!-- Descripción General -->
                            <div class="menu-item " [routerLink]="['/detalle_revision']"
                                [queryParams]="{ id: reviewId }">
                                Descripción General
                            </div>

                            <!-- Planificación -->
                            <div class="menu-item active" [routerLink]="['/planificacion']" [queryParams]="{ id: reviewId }">
                                Planificación
                            </div>

                            <!-- Revisión de datos -->
                            <div class="menu-item" [routerLink]="['/estudios']" [queryParams]="{ id: reviewId }">
                                Revisión de datos
                            </div>

                            <!-- Proyección de informes -->
                            <div class="menu-item" [routerLink]="['/proyeccion']" [queryParams]="{ id: reviewId }">
                                Proyección de informes
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col col-sm col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <!-- Página 1 -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="tab1" data-bs-toggle="tab"
                                        data-bs-target="#pagina1" type="button" role="tab" aria-controls="pagina1"
                                        aria-selected="true">
                                        Protocolo
                                    </button>
                                </li>

                                <!-- Página 2 -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#pagina2"
                                        type="button" role="tab" aria-controls="pagina2" aria-selected="false">
                                        Lista de verificación de evaluación de calidad
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <!-- Contenido de las páginas -->
                                <div class="tab-content" id="myTabContent">
                                    <!-- Contenido Página 1 -->
                                    <div class="tab-pane fade show active" id="pagina1" role="tabpanel"
                                        aria-labelledby="tab1">
                                        <!-- Tarjeta Principal -->
                                        <div class="card" style="flex-grow: 1;">
                                            <!-- Card Header -->
                                            <div class="card-header p-2">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h4 class="card-title mb-0">
                                                                <i class="fa-solid fa-pencil"></i>&nbsp; Objetivo de
                                                                la
                                                                reseña
                                                            </h4>
                                                        </div>
                                                        <div class="col text-end">
                                                            <button class="btn btn-warning" type="submit">
                                                                <i class="bi bi-bug-fill"></i>
                                                                &nbsp; Sugerencia IA
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <textarea class="form-control" id="description" rows="5"
                                                            placeholder="Ingrese un objetivo para la reseña"
                                                            maxlength="500"></textarea>
                                                        <div class="text-end text-muted mt-1">
                                                            <small>0/500 caracteres</small>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!-- Card Footer -->
                                            <div class="card-footer text-end">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa-solid fa-paper-plane"></i> &nbsp; Guardar objetivo
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card">
                                            <div class="card-header">
                                                <label for="paginaSelect" class="form-label">
                                                    <h4 class="card-title mb-0">
                                                        <i class="bi bi-book-half"></i>&nbsp; Selecciona una
                                                        metodología:
                                                    </h4>
                                                    <br />
                                                </label>

                                                <select class="form-select mb-4" id="paginaSelect"
                                                    [(ngModel)]="paginaSeleccionada">

                                                    <option value="pagina1">PICO</option>
                                                    <option value="pagina2">PICOC</option>
                                                    <option value="pagina3">PICOTT</option>
                                                    <option value="pagina4">SPICE</option>
                                                </select>
                                            </div>
                                            <div class="card-body">
                                                <div class="container">
                                                    <div class="card p-3" *ngIf="paginaSeleccionada === 'pagina1'">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5>PICO</h5>
                                                                </div>
                                                                <div class="col text-end">
                                                                    <button class="btn btn-warning" type="submit">
                                                                        <i class="bi bi-bug-fill"></i>
                                                                        &nbsp; Sugerencia IA
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label for="población"
                                                                                class="form-label">Población</label>
                                                                            <input type="text" class="form-control"
                                                                                id="población">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="intervención"
                                                                                class="form-label">Intervención</label>
                                                                            <input type="text" class="form-control"
                                                                                id="intervención">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="comparación"
                                                                                class="form-label">Comparación</label>
                                                                            <input type="text" class="form-control"
                                                                                id="comparación">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="resultado"
                                                                                class="form-label">Resultado</label>
                                                                            <input type="text" class="form-control"
                                                                                id="resultado">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div class="card p-3" *ngIf="paginaSeleccionada === 'pagina2'">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5>PICOC</h5>
                                                                </div>
                                                                <div class="col text-end">
                                                                    <button class="btn btn-warning" type="submit">
                                                                        <i class="bi bi-bug-fill"></i>
                                                                        &nbsp; Sugerencia IA
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label for="población1"
                                                                                class="form-label">Población</label>
                                                                            <input type="text" class="form-control"
                                                                                id="población1">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="intervención1"
                                                                                class="form-label">Intervención</label>
                                                                            <input type="text" class="form-control"
                                                                                id="intervención1">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="comparación1"
                                                                                class="form-label">Comparación</label>
                                                                            <input type="text" class="form-control"
                                                                                id="comparación1">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="resultado1"
                                                                                class="form-label">Resultado</label>
                                                                            <input type="text" class="form-control"
                                                                                id="resultado1">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="contexto1"
                                                                                class="form-label">Contexto</label>
                                                                            <input type="text" class="form-control"
                                                                                id="contexto1">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card p-3" *ngIf="paginaSeleccionada === 'pagina3'">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5>PICOTT</h5>
                                                                </div>
                                                                <div class="col text-end">
                                                                    <button class="btn btn-warning" type="submit">
                                                                        <i class="bi bi-bug-fill"></i>
                                                                        &nbsp; Sugerencia IA
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label for="población2"
                                                                                class="form-label">Población</label>
                                                                            <input type="text" class="form-control"
                                                                                id="población2">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="intervención2"
                                                                                class="form-label">Intervención</label>
                                                                            <input type="text" class="form-control"
                                                                                id="intervención2">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="comparación2"
                                                                                class="form-label">Comparación</label>
                                                                            <input type="text" class="form-control"
                                                                                id="comparación2">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="resultado2"
                                                                                class="form-label">Resultado</label>
                                                                            <input type="text" class="form-control"
                                                                                id="resultado2">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="tipregunta2"
                                                                                class="form-label">Tipo de
                                                                                pregunta</label>
                                                                            <input type="text" class="form-control"
                                                                                id="tipregunta2">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="tiarticulo2"
                                                                                class="form-label">Tipo de
                                                                                articulo</label>
                                                                            <input type="text" class="form-control"
                                                                                id="tiarticulo2">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card p-3" *ngIf="paginaSeleccionada === 'pagina4'">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h5>PICOTT</h5>
                                                                </div>
                                                                <div class="col text-end">
                                                                    <button class="btn btn-warning" type="submit">
                                                                        <i class="bi bi-bug-fill"></i>
                                                                        &nbsp; Sugerencia IA
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label for="escenario3"
                                                                                class="form-label">Escenario</label>
                                                                            <input type="text" class="form-control"
                                                                                id="escenario3">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="perspectiva3"
                                                                                class="form-label">Perspectiva</label>
                                                                            <input type="text" class="form-control"
                                                                                id="perspectiva3">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="intervención3"
                                                                                class="form-label">Intervención</label>
                                                                            <input type="text" class="form-control"
                                                                                id="intervención3">
                                                                        </div>
                                                                        <br />
                                                                        <div class="mb-3">
                                                                            <label for="comparacion3"
                                                                                class="form-label">Comparación</label>
                                                                            <input type="text" class="form-control"
                                                                                id="comparacion3">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="evaluación3"
                                                                                class="form-label">Evaluación</label>
                                                                            <input type="text" class="form-control"
                                                                                id="evaluación3">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-end">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa-solid fa-paper-plane"></i> &nbsp; Guardar
                                                    metodología
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col col-md-6">
                                                            <h4 class="card-title ">
                                                                <i class="bi bi-question-octagon-fill"></i>&nbsp;
                                                                Preguntas de investigación
                                                            </h4>
                                                        </div>
                                                        <div class="col text-end">
                                                            <button class="btn btn-warning" type="submit">
                                                                <i class="bi bi-bug-fill"></i>
                                                                &nbsp; Sugerencia IA
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-secondary btn-sm" (click)="addQuestion()">
                                                        <i class="bi bi-plus"></i> Agregar pregunta
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="container">
                                                    <div *ngFor="let question of questions" class="mb-3">
                                                        <div class="input-group mb-2">
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]="question.value"
                                                                placeholder="Escriba su pregunta de investigación">
                                                            <button class="btn btn-outline-secondary" type="button"
                                                                (click)="cancelQuestion(question.id)">
                                                                <i class="bi bi-x"></i>
                                                            </button>
                                                        </div>
                                                        <div class="d-flex justify-content-end gap-2">
                                                            <button class="btn btn-primary"
                                                                (click)="saveQuestion(question)"><i
                                                                    class="fa-solid fa-paper-plane"></i> &nbsp;
                                                                Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-end">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa-solid fa-paper-plane"></i> &nbsp; Guardar la(s)
                                                    pregunta(s)
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col col-md-6">
                                                            <h4 class="card-title ">
                                                                <i class="bi bi-key-fill"></i>&nbsp;
                                                                Palabras claves y sinonimos
                                                            </h4>
                                                        </div>
                                                        <div class="col text-end">
                                                            <button class="btn btn-warning" type="submit">
                                                                <i class="bi bi-bug-fill"></i>
                                                                &nbsp; Sugerencia IA
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">

                                                <div class="container mt-4">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th>Palabras Claves</th>
                                                                <th>Relacionado</th>
                                                                <th>Sinónimo</th>
                                                                <th>Acción</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let row of tableData; let i = index">
                                                                <!-- Palabras Claves -->
                                                                <td>
                                                                    <input type="text" class="form-control"
                                                                        [(ngModel)]="row.keyword"
                                                                        [readonly]="!row.isEditing" />
                                                                </td>

                                                                <!-- Relacionado -->
                                                                <td>
                                                                    <select class="form-select"
                                                                        [(ngModel)]="row.related"
                                                                        [disabled]="!row.isEditing">
                                                                        <option *ngFor="let option of methodologies"
                                                                            [value]="option">
                                                                            {{ option }}
                                                                        </option>
                                                                    </select>
                                                                </td>

                                                                <!-- Sinónimo -->
                                                                <td>
                                                                    <input type="text" class="form-control"
                                                                        [(ngModel)]="row.synonyms"
                                                                        [readonly]="!row.isEditing"
                                                                        (ngModelChange)="formatSynonyms(i)" />
                                                                </td>

                                                                <!-- Acción -->
                                                                <td>
                                                                    <button class="btn btn-primary btn-sm me-2"
                                                                        (click)="toggleEdit(i)">
                                                                        {{ row.isEditing ? 'Guardar' : 'Editar' }}
                                                                    </button>
                                                                    <button class="btn btn-danger btn-sm"
                                                                        (click)="deleteRow(i)">
                                                                        Eliminar
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div class="card-footer">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col col-sm-5 col-md-5">
                                                            <button class="btn btn-secondary" data-bs-toggle="modal"
                                                                (click)="addRow()" data-bs-target="#staticBackdrop"><i
                                                                    class="bi bi-plus"></i>
                                                                &nbsp;
                                                                Añadir palabra clave
                                                            </button>
                                                        </div>
                                                        <div class="col text-end">
                                                            <button class="btn btn-primary" type="submit">
                                                                <i class="fa-solid fa-paper-plane"></i> &nbsp;
                                                                Guardar
                                                                palabras claves y sinonimos
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card" style="flex-grow: 1;">
                                            <!-- Card Header -->
                                            <div class="card-header p-2">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h4 class="card-title mb-0">
                                                                <i class="bi bi-stack-overflow"></i>&nbsp; Cadena de
                                                                búsqueda
                                                            </h4>
                                                        </div>
                                                        <div class="col text-end">
                                                            <button class="btn btn-warning" type="submit">
                                                                <i class="bi bi-bug-fill"></i>
                                                                &nbsp; Sugerencia IA
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <form>
                                                    <div class="mb-3">
                                                        <textarea class="form-control" id="cadena" rows="5"
                                                            placeholder="Ingrese su cadena de busqueda, Utilice mayúsculas para los operadores booleanos ( AND , OR ), comillas dobles para palabras compuestas y paréntesis para separar lógicamente las palabras clave y los sinónimos."
                                                            maxlength="100"></textarea>
                                                        <div class="text-end text-muted mt-1">
                                                            <small>0/100 caracteres</small>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!-- Card Footer -->
                                            <div class="card-footer text-end">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa-solid fa-paper-plane"></i> &nbsp; Guardar cadena de
                                                    búsqueda
                                                </button>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="card" style="flex-grow: 1;">
                                            <!-- Card Header -->
                                            <div class="card-header p-2">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h4 class="card-title mb-0">
                                                                <i class="bi bi-stack"></i>&nbsp; Criterios de
                                                                selección
                                                            </h4>
                                                        </div>
                                                        <div class="col text-end">
                                                            <button class="btn btn-warning" type="submit">
                                                                <i class="bi bi-bug-fill"></i>
                                                                &nbsp; Sugerencia IA
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <form>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="container mt-4">
                                                                    <h2>Criterios de exclusión</h2>
                                                                    <form (submit)="addItem()">
                                                                        <div class="input-group mb-3">
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Ingrese un elemento para excluir"
                                                                                [(ngModel)]="inputValue"
                                                                                name="inputValue" required />
                                                                            <button type="submit"
                                                                                class="btn btn-secondary"><i
                                                                                    class="bi bi-plus"></i>
                                                                                &nbsp; Agregar</button>
                                                                        </div>
                                                                    </form>

                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Excluidos</th>
                                                                                <th>Acción</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr
                                                                                *ngFor="let item of items; let i = index">
                                                                                <td>{{ item }}</td>
                                                                                <td>
                                                                                    <button class="btn btn-danger"
                                                                                        (click)="removeItem(i)">
                                                                                        X
                                                                                    </button>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="container mt-4">
                                                                    <h2>Criterios de inclusión</h2>
                                                                    <form (submit)="addInclusion()">
                                                                        <div class="input-group mb-3">
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Ingrese un elemento para incluir"
                                                                                [(ngModel)]="inclusionValue"
                                                                                name="inclusionValue" required />
                                                                            <button type="submit"
                                                                                class="btn btn-secondary"><i
                                                                                    class="bi bi-plus"></i>
                                                                                &nbsp; Agregar</button>
                                                                        </div>
                                                                    </form>

                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Incluidos</th>
                                                                                <th>Acción</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr
                                                                                *ngFor="let inclusion of inclusions; let i = index">
                                                                                <td>{{ inclusion }}</td>
                                                                                <td>
                                                                                    <button class="btn btn-danger"
                                                                                        (click)="removeInclusion(i)">
                                                                                        X
                                                                                    </button>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!-- Card Footer -->
                                            <div class="card-footer text-end">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa-solid fa-paper-plane"></i> &nbsp; Guardar criterios
                                                    de
                                                    selección
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Contenido Página 2 -->
                                    <div class="tab-pane fade p-3" id="pagina2" role="tabpanel" aria-labelledby="tab2">
                                        <h5>Contenido de la Página 2</h5>
                                        <p>Este es el contenido de la segunda página.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer class="bg-white shadow-sm mt-4">

    <div class="footer container py-4">
        <p class="text-center text-muted small">
            © 2024 OWLREVIEW. Todos los derechos reservados.
        </p>
    </div>
</footer>