.floating-menu {
    width: 200px;
  }
  
  .menu-item {
    padding: 10px;
    cursor: pointer;
    border-left: 3px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .menu-item.active {
    background-color: #f8f9fa;
    border-color: #007bff;
    font-weight: bold;
  }
  
  .menu-item:hover {
    background-color: #f1f1f1;
  }

  #scrollToTopButton {
    position: fixed; /* Posición fija en la pantalla */
    bottom: 20px;    /* Distancia desde el borde inferior */
    right: 20px;     /* Distancia desde el borde derecho */
    display: none;   /* Oculto por defecto */
    z-index: 1000;   /* Asegúrate de que esté sobre otros elementos */
    opacity: 0.8;    /* Transparencia inicial */
  }
  
  #scrollToTopButton:hover {
    opacity: 1;      /* Totalmente visible al pasar el mouse */
  }

  .nav-tabs .nav-link {
    font-size: calc(1.2rem - 0.2vw); /* Reduce el tamaño de la fuente dinámicamente */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis; /* Si hay un desbordamiento, muestra elipsis */
    overflow: hidden; /* Oculta el texto que no cabe */
  }
  
  @media (max-width: 576px) {
    .nav-tabs .nav-link {
      font-size: 0.97rem; /* Tamaño más pequeño en pantallas muy pequeñas */
    }
  }

  .nav-tabs .nav-link {
    padding-top: 1rem; /* Espaciado superior */
  padding-bottom: 1rem; /* Espaciado inferior */
    white-space: normal; /* Permite que el texto se divida en varias líneas */
    word-break: break-word; /* Divide las palabras largas si es necesario */
    text-align: center; /* Asegura que el texto esté centrado */
  }

/* Ajustar el estilo de la pestaña Protocolo */
.protocolo-tab {
  padding-top: 1rem; /* Espaciado superior */
  padding-bottom: 1rem; /* Espaciado inferior */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-align: center; /* Centra el texto horizontalmente */
}

/* Espaciado adicional para pantallas pequeñas */
@media (max-width: 576px) {
  .protocolo-tab {
    padding-top: 2rem; /* Más espacio arriba */
    padding-bottom: 2rem; /* Más espacio abajo */
  }
}


@media (max-width: 576px) {
  .floating-menu {
    width: 100%;
  }
}