.nav-link.active {
  color: #4b6cb7 !important; /* Cambia #4b6cb7 por el color que prefieras */
  font-weight: bold;
  border-bottom: 2px solid #4b6cb7; /* Opcional: subraya el enlace activo */
}

/* Si deseas que también se apliquen efectos al pasar el mouse */
.nav-link.active:hover {
  color: #4b6cb7;
  text-decoration: none;
}
