<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      <div class="navbar-brand d-flex align-items-center">
        <img src="Logo.jpg" alt="OWLREVIEW Logo" class="me-2" style="height: 2rem;" />
        <span class="ms-2 fs-4 text-dark"><strong>OWLREVIEW</strong></span>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/panel_principal"><strong>{{ userData?.nombre_usuario || 'Usuario' }}</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/Perfil"><strong>Perfil</strong></a>
          </li>
          <li class="nav-item">
            <button class="nav-link text-dark" routerLink="/log-in"><strong>
                    <i class="fa-solid fa-arrow-right"> </i> Cerrar Sesion</strong>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>