.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle:not(:focus) {
    outline: 0;
  }
  

/* styles.css */
.dark-mode {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}
/* Ajusta otros elementos según necesites */
.dark-mode .navbar {
  background-color: #333 !important;
}