<div class="container mt-5" style="max-width: 400px;">
    <h4 class="mb-0">Recuperar Contraseña</h4>
    <br>
    <div class="card shadow">
      
      <div class="card-body">
        <p class="small mb-3">
            Por favor, ingresa tu correo electrónico. Te enviaremos un enlace para restablecer tu contraseña.
          </p>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              placeholder="Ingresa tu correo"
            />
            <div class="text-danger mt-1" *ngIf="email.invalid && email.touched">
              Por favor, ingresa un correo válido.
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-info w-100"
            [disabled]="forgotForm.invalid || loading"
          >
            Enviar enlace de reseteo
          </button>
        </form>
      </div>
    </div>
  </div>
  