/* Tarjeta de Revisiones - Azul verdoso (Teal) */
.card-revision {
    background-color: #00897B !important; /* Teal oscuro */
    color: #fff;
  }
  
  /* Tarjeta de Informes - Naranja */
  .card-report {
    background-color: #FB8C00 !important; /* Naranja vibrante */
    color: #fff;
  }