/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* styles.css */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  /* Sobrescribir estilos de Bootstrap o de otros componentes si es necesario */
  .dark-mode .navbar {
    background-color: #333 !important;
  }
  .dark-mode .card {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-color: #333;
  }
  