<app-navbar></app-navbar>

<main>
    <div>
        <div class="container py-4">
            <div class="row align-items-start">
                <div class="col col-sm col-md-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/panel_principal">Usuario</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tema_reseña</li>
                        </ol>
                    </nav>

                    <div class="d-flex">
                        <div class="floating-menu">
                            <div class="menu-item " routerLink="/detalle_revision">Descripción General</div>
                            <div class="menu-item " routerLink="/planificacion">Planificación</div>
                            <div class="menu-item active" routerLink="/estudios">Revisión de datos</div>
                            <div class="menu-item ">Proyección de informes</div>
                        </div>
                    </div>
                    <br/>
                </div>

                <div class="col col-sm col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <!-- Página 1 -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="tab1" data-bs-toggle="tab"
                                        data-bs-target="#pagina1" type="button" role="tab" aria-controls="pagina1"
                                        aria-selected="true">
                                        Selección de estudios
                                    </button>
                                </li>

                                <!-- Página 2 -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#pagina2"
                                        type="button" role="tab" aria-controls="pagina2" aria-selected="false">
                                        Evaluación de calidad
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <!-- Contenido de las páginas -->
                                <div class="tab-content" id="myTabContent">
                                    <!-- Contenido Página 1 -->
                                    <div class="tab-pane fade show active p-2" id="pagina1" role="tabpanel"
                                        aria-labelledby="tab1">
                                        <button class="btn btn-primary" type="submit" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">
                                            <i class="bi bi-transparency"></i> &nbsp; Importar estudios
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                            <strong>Importar estudios</strong>
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="mb-3">
                                                                <label for="exampleInputPassword1"
                                                                    class="form-label"><strong>Fuente de los
                                                                        estudios</strong></label>
                                                                <input type="text" class="form-control" id="libraryName"
                                                                    [(ngModel)]="libraryName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    placeholder="Ingrese el nombre de la fuente" />

                                                            </div>
                                                            <p>Valor de libraryName: {{ libraryName }}</p>
                                                            <div class="mb-3">
                                                                <label for="fileInput" class="form-label"><strong>Cargar
                                                                        archivo</strong></label>
                                                                <input type="file" id="fileInput" class="form-control"
                                                                    (change)="onFileChange($event)"
                                                                    accept=".bib,.ris" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                            data-bs-dismiss="modal">Cerrar</button>
                                                        <button type="button" class="btn btn-success"
                                                            (click)="importStudies()">Importar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Tabla para mostrar datos importados -->
                                        <table class="table table-bordered mt-4"
                                            *ngIf="importedData?.length && importedData.length > 0">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let column of importedData">{{ column.field }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of importedData[0]?.value; let i = index">
                                                    <td *ngFor="let column of importedData">
                                                        {{ column.value[i] }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- Tabs dinámicos -->
                                        <ul class="nav nav-tabs mt-4" id="dynamicTabs" role="tablist">
                                            <li class="nav-item" *ngFor="let tab of tabs; let i = index">
                                                <button class="nav-link" [class.active]="i === 0" [id]="'tab' + i"
                                                    data-bs-toggle="tab" attr.data-bs-target="{{'#page' + i}}"
                                                    type="button" role="tab" [attr.aria-controls]="'page' + i"
                                                    [attr.aria-selected]="i === 0">{{ tab }}</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content mt-2">
                                            <div class="tab-pane fade" *ngFor="let tab of tabs; let i = index"
                                                [id]="'page' + i" role="tabpanel" [attr.aria-labelledby]="'tab' + i">
                                                <h4>{{ tab }}</h4>
                                                <!-- Puedes agregar contenido aquí -->
                                            </div>
                                        </div>


                                    </div>
                                    <!-- Contenido Página 2 -->
                                    <div class="tab-pane fade p-3" id="pagina2" role="tabpanel" aria-labelledby="tab2">
                                        <h5>Contenido de la Página 2</h5>
                                        <p>Este es el contenido de la segunda página.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="bg-white shadow-sm mt-4">
    <div class="container py-4">
        <p class="text-center text-muted small">
            © 2024 OWLREVIEW. Todos los derechos reservados.
        </p>
    </div>
</footer>