<main>
    <div>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <div class="row">
                                <div class="col-4">
                                    <li class="breadcrumb-item"><a href="/panel_principal">{{ userData?.nombre_usuario
                                            || 'Usuario' }}</a>
                                    </li>
                                </div>
                                <div class="col-1">
                                    <p><strong>/</strong></p>
                                </div>
                                <div class="col-7">
                                    <li class="breadcrumb-item active" aria-current="page">
                                        {{reviewData.titulo_revision}}</li>
                                </div>
                            </div>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm col-md-3">
                    <div class="d-flex">
                        <div class="floating-menu">
                            <!-- Descripción General -->
                            <div class="menu-item " [routerLink]="['/detalle_revision']"
                                [queryParams]="{ id: reviewId }">
                                Descripción General
                            </div>

                            <!-- Planificación -->
                            <div class="menu-item " [routerLink]="['/planificacion']" [queryParams]="{ id: reviewId }">
                                Planificación
                            </div>

                            <!-- Revisión de datos -->
                            <div class="menu-item active" [routerLink]="['/estudios']" [queryParams]="{ id: reviewId }">
                                Revisión de datos
                            </div>

                            <!-- Proyección de informes -->
                            <div class="menu-item" [routerLink]="['/proyeccion']" [queryParams]="{ id: reviewId }">
                                Proyección de informes
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col col-sm col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <!-- Página 1 -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="tab1" data-bs-toggle="tab"
                                        data-bs-target="#pagina1" type="button" role="tab" aria-controls="pagina1"
                                        aria-selected="true">
                                        Selección de estudios
                                    </button>
                                </li>

                                <!-- Página 2 -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#pagina2"
                                        type="button" role="tab" aria-controls="pagina2" aria-selected="false">
                                        Evaluación de calidad
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <!-- Contenido de las páginas -->
                                <div class="tab-content" id="myTabContent">
                                    <!-- Contenido Página 1 -->
                                    <div class="tab-pane fade show active p-2" id="pagina1" role="tabpanel"
                                        aria-labelledby="tab1">
                                        <div class="container mt-4">

                                            <!-- Botón para iniciar el proceso de importación -->
                                            <button class="btn btn-primary mb-3" (click)="selectFileType()">
                                                Importar archivo
                                            </button>

                                            <!-- Tabla donde se mostrarán los estudios importados -->
                                            <!-- contenedor de tabla más grande -->
                                            <div class="table-responsive" style="min-width: 1200px;">
                                                <table class="table table-bordered table-hover"
                                                    *ngIf="importedStudies.length > 0">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th (click)="sortStudies('database')"
                                                                style="cursor: pointer;">
                                                                Base de datos
                                                                <!-- Muestra la flecha si la columna de orden es 'database' -->
                                                                <i *ngIf="sortColumn === 'database'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('author')"
                                                                style="cursor: pointer;">
                                                                Autor
                                                                <i *ngIf="sortColumn === 'author'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('booktitle')"
                                                                style="cursor: pointer;">
                                                                Título del libro
                                                                <i *ngIf="sortColumn === 'booktitle'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('title')" style="cursor: pointer;">
                                                                Título
                                                                <i *ngIf="sortColumn === 'title'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('year')" style="cursor: pointer;">
                                                                Año
                                                                <i *ngIf="sortColumn === 'year'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('volume')"
                                                                style="cursor: pointer; display:none;" >
                                                                Volumen
                                                                <i *ngIf="sortColumn === 'volume'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('number')"
                                                                style="cursor: pointer; display:none;">
                                                                Número
                                                                <i *ngIf="sortColumn === 'number'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('pages')" style="cursor: pointer; display:none;">
                                                                Páginas
                                                                <i *ngIf="sortColumn === 'pages'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('keywords')"
                                                                style="cursor: pointer;">
                                                                Palabras clave
                                                                <i *ngIf="sortColumn === 'keywords'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th (click)="sortStudies('doi')" style="cursor: pointer;">
                                                                DOI
                                                                <i *ngIf="sortColumn === 'doi'" class="bi"
                                                                    [ngClass]="{ 'bi-arrow-up': sortOrder === 'asc', 'bi-arrow-down': sortOrder === 'desc' }">
                                                                </i>
                                                            </th>
                                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;Acción&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let study of importedStudies"
                                                            (click)="selectStudy(study)">
                                                            <td>{{ study.database }}</td>
                                                            <td>{{ study.author }}</td>
                                                            <td>{{ study.booktitle }}</td>
                                                            <td>{{ study.title }}</td>
                                                            <td>{{ study.year }}</td>
                                                            <td style="display:none;">{{ study.volume }}</td>
                                                            <td style="display:none;">{{ study.number }}</td>
                                                            <td style="display:none;">{{ study.pages }}</td>
                                                            <td>{{ study.keywords }}</td>
                                                            <td>{{ study.doi }}</td>
                                                            <td>
                                                                <select class="form-select form-select-sm"
                                                                    [(ngModel)]="study.status">
                                                                    <option value="Sin clasificar">Sin clasificar
                                                                    </option>
                                                                    <option value="Aceptado">Aceptado</option>
                                                                    <option value="Duplicado">Duplicado</option>
                                                                    <option value="Rechazado">Rechazado</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- Formulario de edición -->
                                        <div *ngIf="selectedStudy" class="card my-4">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Editar Estudio</h5>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <!-- Base de Datos -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Base de Datos</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.database" name="database" />
                                                    </div>
                                                    <!-- Author -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Author</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.author" name="author" />
                                                    </div>
                                                    <!-- Booktitle -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Booktitle</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.booktitle" name="booktitle" />
                                                    </div>
                                                    <!-- Title -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Title</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.title" name="title" />
                                                    </div>
                                                    <!-- Year -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Year</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.year" name="year" />
                                                    </div>
                                                    <!-- Volume -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Volume</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.volume" name="volume" />
                                                    </div>
                                                    <!-- Number -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Number</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.number" name="number" />
                                                    </div>
                                                    <!-- Pages -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Pages</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.pages" name="pages" />
                                                    </div>
                                                    <!-- Keywords -->
                                                    <div class="mb-3">
                                                        <label class="form-label">Keywords</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.keywords" name="keywords" />
                                                    </div>
                                                    <!-- DOI -->
                                                    <div class="mb-3">
                                                        <label class="form-label">DOI</label>
                                                        <input type="text" class="form-control"
                                                            [(ngModel)]="selectedStudy.doi" name="doi" />
                                                    </div>

                                                    <!-- Botones de acción -->
                                                    <div class="text-end">
                                                        <button type="button" class="btn btn-secondary me-2"
                                                            (click)="cancelEdit()">
                                                            Cancelar
                                                        </button>
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="saveStudyEdits()">
                                                            Guardar Cambios
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                    <!-- Contenido Página 2 -->
                                    <div class="tab-pane fade p-3" id="pagina2" role="tabpanel" aria-labelledby="tab2">
                                        <h5>Contenido de la Página 2</h5>
                                        <p>Este es el contenido de la segunda página.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<br />
<div class="container text-center">
    <div class="row">
        <div class="col align-self-center">
            <!-- Botón para volver al inicio -->
            <button class="btn btn-primary text-center" (click)="scrollToTop()">
                <i class="bi bi-arrow-up-circle"></i>&nbsp; Subir </button>
        </div>
    </div>
</div>