<main>
  <div>
    <div [ngClass]="{
      'px-5': isLargeScreen,
      'container': !isLargeScreen
    }">
      <div class="row align-items-start">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <div class="row">
                <div>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{reviewData.titulo_revision}}</li>
                </div>
              </div>
            </ol>
          </nav>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col col-sm col-md-2">
          <div class="d-flex">
            <div class="floating-menu">
              <!-- Descripción general -->
              <div class="menu-item " [routerLink]="['/detalle_revision']" [queryParams]="{ id: reviewId }">
                Descripción general
              </div>

              <!-- Planificación -->
              <div class="menu-item " [routerLink]="['/planificacion']" [queryParams]="{ id: reviewId }">
                Planificación
              </div>

              <!-- Revisión de datos -->
              <div class="menu-item active" [routerLink]="['/estudios']" [queryParams]="{ id: reviewId }">
                Revisión de datos
              </div>

              <!-- Proyección de informes -->
              <div class="menu-item" [routerLink]="['/informes']" [queryParams]="{ id: reviewId }">
                Proyección de informes
              </div>
            </div>
          </div>
          <br />
        </div>

        <div class="col col-sm col-md-10">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!-- Página 1 -->
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#pagina1" type="button"
                    role="tab" aria-controls="pagina1" aria-selected="true">
                    Selección de estudios
                  </button>
                </li>

                <!-- Página 2 -->
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#pagina2" type="button"
                    role="tab" aria-controls="pagina2" aria-selected="false">
                    Evaluación de calidad
                  </button>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="container">
                <!-- Contenido de las páginas -->
                <div class="tab-content" id="myTabContent">
                  <!-- Contenido Página 1 -->
                  <div class="tab-pane fade show active p-2" id="pagina1" role="tabpanel" aria-labelledby="tab1">
                    <div class="container mt-4">
                      <h6>En esta sección podra ingresar los articulos que ha encontrado con la
                        cadena de busqueda.</h6>
                      <br>
                      <div class="container">
                        <div class="row align-items-center">
                          <!-- Columna para el botón "Importar archivo" -->
                          <div class="col-12 col-md-6 d-flex justify-content-start mb-3 mb-md-0">
                            <button class="btn btn-primary w-100 w-md-auto" (click)="selectFileType()">
                              <i class="bi bi-box-arrow-in-up"></i>&nbsp;Importar archivo
                            </button>
                          </div>

                          <!-- Columna para el botón "Añadir manualmente el estudio" -->
                          <div class="col-12 col-md-6 d-flex justify-content-end">
                            <button class="btn btn-primary w-100 w-md-auto" (click)="openAddStudyModal()">
                              <i class="bi bi-file-earmark-plus"></i>&nbsp;Añadir manualmente el estudio
                            </button>
                          </div>
                        </div>
                      </div>
                      <br>
                      <p>Estudios seleccionados: {{ selectedStudiesCount }}</p>

                      <!-- Select para filtrar los estados -->
                      <div class="mb-3 d-flex align-items-center">
                        <label class="me-2 fw-bold">Filtrar por estado:</label>
                        <select class="form-select w-auto" [(ngModel)]="filterStatus" (change)="applyFilter()">
                          <option value="all">Todos</option>
                          <option value="Sin clasificar">Sin clasificar</option>
                          <option value="Aceptado">Preseleccionado</option>
                          <option value="Duplicado">Duplicado</option>
                          <option value="Rechazado">Descartado</option>
                        </select>
                      </div>

                      <!-- Tabla donde se mostrarán los estudios importados -->
                      <!-- contenedor de tabla más grande -->
                      <div class="table-responsive" style="max-height: 500vh; overflow-y: auto;">
                        <table class="table table-bordered table-hover" style="table-layout: fixed; width: 100%;">
                          <!-- Definimos el colgroup para anchos de columnas -->
                          <colgroup>
                            <col style="width: 50px;" /> <!-- Selección -->
                            <col style="width: 150px;" /> <!-- Acción -->
                            <col style="width: 120px;" /> <!-- Base de datos -->
                            <col style="width: 150px;" /> <!-- Autor -->
                            <col style="width: 150px;" /> <!-- Título del libro -->
                            <col style="width: 200px;" /> <!-- Título -->
                            <col style="width: 80px;" /> <!-- Año -->
                            <col style="width: 80px; display:none;" />
                            <!-- Volumen (oculto) -->
                            <col style="width: 80px; display:none;" />
                            <!-- Número (oculto) -->
                            <col style="width: 80px; display:none;" />
                            <!-- Páginas (oculto) -->
                            <col style="width: 150px;" /> <!-- Palabras clave -->
                            <col style="width: 130px;" /> <!-- DOI -->
                          </colgroup>

                          <!-- THEAD sticky -->
                          <thead class="text-center"
                            style="position: sticky; top: 0; background-color: #fff; z-index: 1;">
                            <tr>
                              <!-- Columna Seleccionar -->
                              <th>
                                <input type="checkbox" (click)="toggleSelectAll($event)" [checked]="allSelected" />
                              </th>

                              <th (click)="sortStudies('status')" style="cursor: pointer;">
                                Acción
                                <i *ngIf="sortColumn === 'status'" class="bi" [ngClass]="{
                                    'bi-arrow-up': sortOrder === 'asc',
                                    'bi-arrow-down': sortOrder === 'desc'
                                  }"></i>
                              </th>

                              <th (click)="sortStudies('database')" style="cursor: pointer;">
                                Base bibliográfica
                                <i *ngIf="sortColumn === 'database'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <!-- Volumen (oculto) -->
                              <th (click)="sortStudies('id_estudios')" style="cursor: pointer; display:none;">
                                ID Estudios
                                <i *ngIf="sortColumn === 'volume'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <th (click)="sortStudies('author')" style="cursor: pointer;">
                                Autor
                                <i *ngIf="sortColumn === 'author'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <th (click)="sortStudies('booktitle')" style="cursor: pointer;">
                                Título del libro
                                <i *ngIf="sortColumn === 'booktitle'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <th (click)="sortStudies('title')" style="cursor: pointer;">
                                Título
                                <i *ngIf="sortColumn === 'title'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <th (click)="sortStudies('year')" style="cursor: pointer;">
                                Año
                                <i *ngIf="sortColumn === 'year'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <!-- Volumen (oculto) -->
                              <th (click)="sortStudies('volume')" style="cursor: pointer; display:none;">
                                Volumen
                                <i *ngIf="sortColumn === 'volume'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <!-- Número (oculto) -->
                              <th (click)="sortStudies('number')" style="cursor: pointer; display:none;">
                                Número
                                <i *ngIf="sortColumn === 'number'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <!-- Páginas (oculto) -->
                              <th (click)="sortStudies('pages')" style="cursor: pointer; display:none;">
                                Páginas
                                <i *ngIf="sortColumn === 'pages'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <th (click)="sortStudies('keywords')" style="cursor: pointer;">
                                Palabras clave
                                <i *ngIf="sortColumn === 'keywords'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>

                              <th (click)="sortStudies('doi')" style="cursor: pointer;">
                                DOI
                                <i *ngIf="sortColumn === 'doi'" class="bi" [ngClass]="{
              'bi-arrow-up': sortOrder === 'asc',
              'bi-arrow-down': sortOrder === 'desc'
            }"></i>
                              </th>
                            </tr>
                          </thead>
                          <!-- Tbody solo se muestra si hay datos -->
                          <tbody *ngIf="displayedStudies.length > 0">
                            <tr *ngFor="let study of displayedStudies; let i = index"
                              (click)="openEditModal(study, $event)">
                              <!-- Checkbox de selección -->
                              <td class="text-center" (click)="$event.stopPropagation()">
                                <input type="checkbox" [checked]="study.isSelected"
                                  (click)="toggleSelection(study, $event)" />
                              </td>

                              <td [ngClass]="{
          'cell-gray': study.status === 'Sin clasificar',
          'cell-green': study.status === 'Aceptado',
          'cell-yellow': study.status === 'Duplicado',
          'cell-red': study.status === 'Rechazado'
        }">
                                <select class="form-select form-select-sm" [(ngModel)]="study.status"
                                  (click)="$event.stopPropagation()" (change)="updateStudyStatus(study)">
                                  <option value="Sin clasificar">Sin clasificar
                                  </option>
                                  <option value="Aceptado">Preseleccionado</option>
                                  <option value="Duplicado">Duplicado</option>
                                  <option value="Rechazado">Descartado</option>
                                </select>
                              </td>

                              <td>{{ study.database }}</td>
                              <td style="display:none;">{{ study.id_estudios }}</td>
                              <td>{{ study.author }}</td>
                              <td>{{ study.booktitle }}</td>
                              <td>{{ study.title }}</td>
                              <td>{{ study.year }}</td>
                              <td style="display:none;">{{ study.volume }}</td>
                              <td style="display:none;">{{ study.number }}</td>
                              <td style="display:none;">{{ study.pages }}</td>
                              <td>{{ study.keywords }}</td>
                              <td>{{ study.doi }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>


          
                  <!-- Contenido Página 2 -->
                  <div class="tab-pane fade" id="pagina2" role="tabpanel" aria-labelledby="tab2">
                    <div class="containes">
                      <p>Tabla de estudios en estado "Aceptado" y sus preguntas de calidad</p>
                    
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>ID Estudio</th>
                            <th>Título</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Iteramos cada estudio aceptado -->
                          <ng-container *ngFor="let study of acceptedStudies">
                            <!-- Fila principal del estudio -->
                            <tr>
                              <td>{{ study.id_estudios }}</td>
                              <td>{{ study.titulo }}</td>
                              <td>
                                <button class="btn btn-primary" (click)="toggleEvaluation(study)">
                                  Evaluar
                                </button>
                              </td>
                            </tr>
                    
                            <!-- Sub-fila (acordeón), solo visible si openedStudy es este mismo estudio -->
                            <tr *ngIf="openedStudy === study">
                              <td colspan="3">
                                <!-- Contenido de la Evaluación -->
                                <div class="p-3 border">
                                  <h4>Evaluando Estudio ID: {{ study.id_estudios }}</h4>
                                  <p><strong>Título: </strong>{{ study.titulo }}</p>
                    
                                  <form>
                                    <!-- Tabla de Preguntas / Respuestas -->
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>Pregunta</th>
                                          <th>Respuestas</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let question of qualityQuestions">
                                          <td>{{ question.descripcion }}</td>
                                          <td>
                                            <!-- Radio Buttons para las respuestas -->
                                            <div *ngFor="let answer of qualityAnswers">
                                              <ng-container *ngIf="answer.id_detalles_revision === question.id_detalles_revision">
                                                <input
                                                  type="radio"
                                                  [name]="'resp_' + question.id_pregunta"
                                                  [value]="answer.id_respuesta"
                                                  (change)="selectAnswer(question.id_pregunta, answer)"
                                                  [checked]="selectedAnswers[question.id_pregunta] === answer.id_respuesta"
                                                />
                                                {{ answer.descripcion }} (peso: {{ answer.peso }})
                                              </ng-container>
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                    
                                    <button class="btn btn-success me-2" (click)="saveEvaluation(study)">
                                      Guardar Evaluación
                                    </button>
                                    <button class="btn btn-secondary" (click)="cancelEvaluation()">
                                      Cancelar
                                    </button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                    




                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<br />
<div class="container text-center">
  <div class="row">
    <div class="col align-self-center">
      <!-- Botón para volver al inicio -->
      <button class="btn btn-primary text-center" (click)="scrollToTop()">
        <i class="bi bi-arrow-up-circle"></i>&nbsp; Subir </button>
    </div>
  </div>
</div>

<!-- Primer Contenedor del Modal-->
<div>
  <!-- Backdrop Oscuro -->
  <div class="modal-backdrop fade show" *ngIf="showEditModal"></div>
  <!-- Contenedor Modal -->
  <div class="modal fade" [ngClass]="{ 'show': showEditModal }" [style.display]="showEditModal ? 'block' : 'none'"
    (click)="onBackdropClick($event)">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between align-items-center">
          <h5 class="modal-title text-primary fw-bold">
            <i class="bi bi-pencil-square"></i> &nbsp;Editar Estudio
          </h5>
          <button type="button" class="btn-close" aria-label="Cerrar" (click)="closeEditModal()"></button>
        </div>

        <div class="modal-body" *ngIf="selectedStudy">
          <!-- FORMULARIO -->
          <form>
            <!-- Campo oculto para ID del estudio (no visible) -->
            <input type="hidden" [value]="selectedStudy.id_estudios" name="id_estudios" />

            <!-- Estado (campo "estado" en tu interfaz) -->
            <div class="form-group mb-3">
              <label class="form-label fw-bold">Estado</label>
              <select class="form-select" [(ngModel)]="selectedStudy.status" name="estado" [ngClass]="{
                          'cell-gray': selectedStudy.status === 'Sin clasificar',
                          'cell-green': selectedStudy.status === 'Aceptado',
                          'cell-yellow': selectedStudy.status === 'Duplicado',
                          'cell-red': selectedStudy.status === 'Rechazado'
                        }">
                <option value="Sin clasificar" [ngClass]="{ 'cell-gray': true }">
                  Sin clasificar
                </option>
                <option value="Aceptado" [ngClass]="{ 'cell-green': true }">
                  Aceptado
                </option>
                <option value="Duplicado" [ngClass]="{ 'cell-yellow': true }">
                  Duplicado
                </option>
                <option value="Rechazado" [ngClass]="{ 'cell-red': true }">
                  Rechazado
                </option>
              </select>
            </div>

            <!-- Input de subir PDF (aparece sólo si el status es "Aceptado") -->
            <!-- SECCIÓN PDF: Solo se muestra si el estado es "Aceptado" -->
            <div class=" mb-3" *ngIf="selectedStudy.status === 'Aceptado'">
              <!-- Si NO existe un PDF, mostramos input para subir -->
              <ng-container *ngIf="!selectedStudy.url_pdf_articulo; else pdfActions">
                <label class="form-label fw-bold">Subir PDF</label>
                <input type="file" accept=".pdf" class="form-control"
                  (change)="onFileSelected($event, selectedStudy)" />
              </ng-container>

              <!-- Si YA existe un PDF, mostramos el ícono para abrir y el ícono para eliminar -->
              <ng-template #pdfActions>
                <table class="table table-bordered">
                  <tr>
                    <!-- Columna: Etiqueta -->
                    <td class="fw-bold">PDF del Artículo</td>

                    <!-- Columna: Íconos -->
                    <td>
                      <div>
                        <!-- Ícono para abrir el PDF en una pestaña nueva -->
                        <a [href]="selectedStudy.url_pdf_articulo" target="_blank" class="text-danger me-2"
                          title="Ver PDF" style="text-decoration: none;">
                          <i class="bi bi-file-earmark-pdf" style="font-size: 1.5rem;"></i>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <!-- Ícono para eliminar el PDF -->
                        <i class="bi bi-trash text-danger" style="font-size: 1.5rem; cursor: pointer;"
                          title="Eliminar PDF" (click)="deletePDF(selectedStudy)"></i>
                      </div>
                    </td>
                  </tr>
                </table>
              </ng-template>
            </div>


            <!-- Fuente Bibliográfica (fuente_bibliografica) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Base bibliográfica</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.database"
                name="fuente_bibliografica" />
            </div>

            <!-- Autor(es) (autores) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Autor(es)</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.author" name="autores" />
            </div>

            <!-- Título (titulo) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Título</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.title" name="titulo" />
            </div>

            <!-- Resumen (resumen) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Resumen</label>
              <textarea class="form-control" rows="3" [(ngModel)]="selectedStudy.resumen" name="resumen"></textarea>
            </div>

            <!-- Año y Volumen en una fila -->
            <div class="row">
              <div class="col-sm-6 mb-3">
                <label class="form-label fw-bold">Año</label>
                <input class="form-control" type="number" [(ngModel)]="selectedStudy.year" name="anio" />
              </div>
              <div class="col-sm-6 mb-3">
                <label class="form-label fw-bold">Volumen</label>
                <input class="form-control" type="text" [(ngModel)]="selectedStudy.volume" name="volumen" />
              </div>
            </div>

            <!-- DOI -->
            <div class="mb-3">
              <label class="form-label fw-bold">DOI</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.doi" name="doi" />
            </div>

            <!-- Revista -->
            <div class="mb-3">
              <label class="form-label fw-bold">Revista</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.revista" name="revista" />
            </div>

            <!-- Palabras Clave (keywords) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Palabras Clave</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.keywords" name="keywords" />
            </div>

            <!-- Palabras Clave del Autor (author_keywords) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Palabras Clave del Autor</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.author_keywords"
                name="author_keywords" />
            </div>

            <!-- Bibtex Key (bibtex_key) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Bibtex Key</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.bibtex_key" name="bibtex_key" />
            </div>

            <!-- Tipo de Documento (document_type) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Tipo de Documento</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.document_type" name="document_type" />
            </div>

            <!-- Páginas (paginas) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Páginas</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.pages" name="paginas" />
            </div>

            <!-- URL (url) -->
            <div class="mb-3">
              <label class="form-label fw-bold">URL</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.url" name="url" />
            </div>

            <!-- Afiliación (afiliacion) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Afiliación</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.afiliacion" name="afiliacion" />
            </div>

            <!-- Publisher (publisher) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Publisher</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.publisher" name="publisher" />
            </div>

            <!-- ISSN (issn) -->
            <div class="mb-3">
              <label class="form-label fw-bold">ISSN</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.issn" name="issn" />
            </div>

            <!-- Language (language) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Language</label>
              <input class="form-control" type="text" [(ngModel)]="selectedStudy.language" name="language" />
            </div>

            <!-- Comentario (comentario) -->
            <div class="mb-3">
              <label class="form-label fw-bold">Comentario</label>
              <textarea class="form-control" rows="2" [(ngModel)]="selectedStudy.comentario"
                name="comentario"></textarea>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="closeEditModal()">Cancelar</button>
          <button class="btn btn-primary" (click)="saveStudyEdits()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Segundo Contenedor del Modal-->
<div class="modal-backdrop fade show" *ngIf="showEditModal"></div>
<div class="modal fade" tabindex="-1" [ngClass]="{ 'show': showAddStudyModal }" style="display: block;"
  *ngIf="showAddStudyModal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary fw-bold">
          <i class="bi bi-file-earmark-plus-fill"></i>&nbsp;Añadir Estudio Manualmente
        </h5>
        <button type="button" class="btn-close" (click)="closeAddStudyModal()"></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- DOI -->
          <div class="mb-3">
            <label class="form-label fw-bold">DOI</label>
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="newStudy.doi" name="doi"
                placeholder="Ingrese el DOI (ej. 10.1109/ISPSD.2013.6694422)">
              <button class="btn btn-secondary" type="button" (click)="fetchCrossRefData()">Buscar</button>
            </div>
          </div>

          <!-- Base de Datos -->
          <div class="mb-3">
            <label class="form-label fw-bold">Base bibliográfica</label>
            <input type="text" class="form-control" placeholder="Ej. IEEE, Springer" [(ngModel)]="newStudy.database"
              name="database" />
          </div>

          <!-- Título -->
          <div class="mb-3">
            <label class="form-label fw-bold">Título</label>
            <input type="text" class="form-control" [(ngModel)]="newStudy.title" name="title"
              placeholder="Título del artículo" />
          </div>

          <!-- Publisher -->
          <div class="mb-3">
            <label class="form-label fw-bold">Publisher</label>
            <input type="text" class="form-control" [(ngModel)]="newStudy.publisher" name="publisher"
              placeholder="Editor o publicación" />
          </div>

          <!-- Tipo de Documento -->
          <div class="mb-3">
            <label class="form-label fw-bold">Tipo de Documento</label>
            <input type="text" class="form-control" [(ngModel)]="newStudy.documentType" name="documentType"
              placeholder="Ej. Artículo, Conferencia" />
          </div>

          <!-- Autor -->
          <div class="mb-3">
            <label class="form-label fw-bold">Autor(es)</label>
            <input type="text" class="form-control" [(ngModel)]="newStudy.author" name="author"
              placeholder="Nombre(s) de los autor(es)" />
          </div>

          <!-- Año -->
          <div class="mb-3">
            <label class="form-label fw-bold">Año</label>
            <input type="number" class="form-control" [(ngModel)]="newStudy.year" name="year"
              placeholder="Año de publicación" />
          </div>

          <!-- Revista -->
          <div class="mb-3">
            <label class="form-label fw-bold">Revista</label>
            <input type="text" class="form-control" [(ngModel)]="newStudy.revista" name="revista"
              placeholder="Nombre de la revista" />
          </div>

          <!-- URL -->
          <div class="mb-3">
            <label class="form-label fw-bold">URL</label>
            <input type="text" class="form-control" [(ngModel)]="newStudy.url" name="url"
              placeholder="Enlace del artículo" />
          </div>

          <!-- Estado -->
          <div class="mb-3">
            <label class="form-label fw-bold">Estado</label>
            <select class="form-select" [(ngModel)]="newStudy.status" name="status" [ngClass]="{
                'cell-gray': newStudy.status === 'Sin clasificar',
                'cell-green': newStudy.status === 'Aceptado',
                'cell-yellow': newStudy.status === 'Duplicado',
                'cell-red': newStudy.status === 'Rechazado'
              }">
              <option value="Sin clasificar">Sin clasificar</option>
              <option value="Aceptado">Preseleccionado</option>
              <option value="Duplicado">Duplicado</option>
              <option value="Rechazado">Descartado</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeAddStudyModal()">Cancelar</button>
        <button class="btn btn-primary" [disabled]="!isFormValid()" (click)="saveNewStudy()">Guardar Estudio</button>
      </div>
    </div>
  </div>
</div>