 <!-- Sección Acerca de -->
 <section id="acerca-de" class="py-5 bg-light">
    <div class="container">
      <h2 class="text-center mb-4">Acerca de la Aplicación</h2>
      <div class="row">
        <div class="col-md-12">
          <p class="lead text-center">
            Nuestra aplicación está diseñada para facilitar y optimizar el proceso de realizar revisiones sistemáticas de literatura, proporcionando herramientas que ayudan a recopilar, analizar y presentar la información de forma eficiente y rigurosa.
          </p>
        </div>
      </div>

      <div class="row text-center mt-5">
        <div class="col-md-4 mb-4">
          <h3>Misión</h3>
          <p>
            Nuestra misión es ofrecer una plataforma intuitiva y potente que apoye a investigadores en la realización de revisiones sistemáticas, garantizando la calidad, transparencia y replicabilidad de sus estudios a través de herramientas avanzadas y recursos educativos.
          </p>
        </div>
        <div class="col-md-4 mb-4">
          <h3>Visión</h3>
          <p>
            Aspiramos a ser la principal solución tecnológica en el ámbito de la investigación, promoviendo la eficiencia y la colaboración en la realización de revisiones sistemáticas de literatura, y contribuyendo al avance del conocimiento científico a nivel global.
          </p>
        </div>
        <div class="col-md-4 mb-4">
          <h3>Valores</h3>
          <p>
            <strong>Calidad:</strong> Nos comprometemos con los más altos estándares en el desarrollo y la funcionalidad de la aplicación.<br>
            <strong>Innovación:</strong> Fomentamos soluciones creativas que respondan a las necesidades cambiantes de la investigación.<br>
            <strong>Transparencia:</strong> Promovemos prácticas abiertas y responsables, facilitando el acceso a la información y la reproducibilidad de los estudios.<br>
            <strong>Colaboración:</strong> Valoramos el trabajo en equipo y la comunidad, integrando feedback de usuarios para mejorar continuamente la plataforma.
          </p>
        </div>
      </div>
    </div>
  </section>